<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Group creation</h5>
            <form *ngIf="!success" #f="ngForm" (ngSubmit)="onSubmit()">
                <!-- <img class="mb-4" src="assets/images/angular_solidBlack.svg" alt="" width="125" height="125"> -->
                <h1 class="h3 mb-3 font-weight-normal">Add group</h1>
                <div class="form-group">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" id="name" name="name" [(ngModel)]="group.name" class="form-control" placeholder="Group name" required autoFocus>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.form.valid">Go</button>
                <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
                    <strong>Oops!</strong> {{error}}
                </div>
            </form>
            <br />
            <!-- <div *ngIf="error" class="alert alert-danger">{{ error }}</div> -->
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>